.chart-holder {
	min-width: 100%;
	min-height: 525px;
	padding: 1rem;
}

.bx--cc--chart-svg {
	min-width: 100%;
	height: 500px;
}

.render-preview {
	.chart-holder {
		min-height: 0;
	}
	
	.bx--cc--chart-svg {
		height: 100%;
	}
	
}